html{
    height: 100%;
    font-size: 10px;    
    margin: 0;
}

body{
    color: #ffffff;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;  
    background-color: black;
}
a{
    text-decoration: none;
    display: inline;
}


.container{
   
    flex-direction: column;
    justify-content: center;
}

.frontPage{
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.front{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.571) 35%, rgba(0, 0, 0, 0.329) 70%,rgba(0, 0, 0, 0.986) 100%);
    height: 100%;
    margin: 0;
    padding: 4.5rem 4rem;
}
.nav{  
    height: 100px;
}
.img{
    display: inline;
}

.logo {
    font-size: 3.5rem;
}
.nav > a{
    color: red;
}

.menu{
    display: inline;
    float: right;
}
.lang{
    padding: 0.75rem;
    background-color: transparent;
    color: white;
    margin-right: 1.5rem;
    border: 1px solid white;
    border-radius: 1px; 
}
option{
    background-color: gray;
}
.btn{
    padding: 5px 15px;
    background-color: rgb(226, 30, 30);
    border: 1px;
    border-radius: 2px;
    color: white;
    font-weight: 20rem;
    font-size: 1.5rem;
    cursor: pointer;
}
/* body */
.text{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative; 
    margin: 0 auto;
    margin-top: 8.5rem; 
    margin-bottom: 9rem;
}
.emailArea{
    width: 90%;
    display: flex;
}
.input{
    padding: 1.5rem 0.5rem;
    width: 70%;
    margin-right: 0;
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 2.2rem;
    font-weight: 300;
}
p{
    font-size: 3rem;
}
.unlimited{
    width: 80%;
    margin: 0;
}
.watch{
    margin: 1rem;
}
.ready{
    margin: 1rem;
    font-size: 1.8rem;
}

.btn1{
    margin-left: 0;
    padding: 1.5rem 0;
    width: 26%; 
    font-size: 2rem;  
}

.feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem 10rem;
    margin: 5rem auto;
}
.featImg{
    width: 100%;
}
.featTextLeft{
    width: 50%;
    padding-right: 15rem;
}
.featImgRight{
    width: 40%;
    float: right;
}
.featTextRight{
    width: 50%;
    padding-left: 15rem;
}
.featImgleft{
    width: 40%;
    float: left;
    padding: 0;
}
.divider{
    height: 0.8rem;
    background-color: rgba(128, 128, 128, 0.097);
}
.faq{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2.5rem 10rem;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}
.questions{
    width: 100%;
    text-align: center;
    margin: auto;
}

.question{
    background-color: rgba(128, 128, 128, 0.234);
    margin: 1rem 1rem;
    padding: 2.5rem;
    height: 4rem;   
}
.faqBtn{
    font-size: 3rem;
    color: #ffffff;
    display: inline;
    float: left;
}
.answer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(128, 128, 128, 0.234);
    padding: 2.5rem;
    display: none;
}
.show{
    display: block;
}
.faqEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    margin-top: 3rem;
    padding: 2.5rem 10rem;
    display: flex;
    flex-direction: column;
}

.link > a{
    color: gray;
    font-size: 1.5rem;
}
.linkgroup{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    word-wrap: break-word;
    justify-items: start;
    padding: 0;
}

.footer > select{
 width: 15rem;
}
.link{
    padding: 0;
}
.link > a:hover{
    color: #ffffff;
}
.span{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.span > a{
    color:#ffffff
}
@media only screen and (max-width: 800px) {
    html {
        font-size: 8px;
    }
    .unlimited{
        width: 90%;
        font-size: 5.5rem;
    }
    .watch{
        margin: 2.5rem;
        font-size: 2.5rem;
    }
    .ready{
        margin: 1rem;
        font-size: 2.5rem;
        width: 80%;
    }
    .text{
        width: 80%;
    }
    .emailArea{       
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn1{
        width: 26%; 
        margin-top: 1.5rem;
    }
    .input{
        padding: 1.5rem 0.5rem;
        width: 90%;
        margin-right: 0;
    }

    .feature{
        flex-direction: column;
        text-align: center;
    }
    .featTextLeft{    
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .featImgRight{
        width: 100%;
        float: right;
    }
    .featTextRight{
        width: 100%;
        padding: 0;
    }
    .featImgleft{
        width: 100%;
        float: left;
        padding: 0;
    }
    .linkgroup{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
       
        grid-row-gap: 1rem;
        word-wrap: break-word;
    }

  }

  @media only screen and (max-width: 600px) {
    html {
        font-size: 6px;
    }
}